/* ikDisplay styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

ul {
    list-style: none outside none;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

p img, li img {
    float: left;
    margin: 4px 6px 0 0;
    padding: 0;
}

body {
    background: #fff;
    margin: 18px 0 0 0;
    font: 13px/18px Georgia, "Times new roman", serif;
    color: #000;
    overflow-y: hidden;
    letter-spacing: 0.1em;
}

li.backchannel-item {
    display: block;
    padding: 0 14px 9px;
    margin: 0 0 3px;
}

li.backchannel-item .list-ikdisplay-backchannel-wrap {
    margin: 0 0 0px;
    display: block;
    padding: 0 0 3px;
    border-bottom: 1px dashed green;
    min-height: 60px;
}
    .list-ikdisplay-backchannel-wrap img {
        margin: 6px 12px 12px 0;
    }

    div.list-ikdisplay-backchannel-icon-wrap {
        float: left;
        margin: 0px;
    }
    
    .list-ikdisplay-backchannel-icon-wrap img {
        width: 80px;
        height: 80px;
        display: block;
        margin-right: 
    }

    p.list-ikdisplay-backchannel-picture {
        display: block;
    }

    .list-ikdisplay-backchannel-picture img {
        height: 320px;
    }

    div.list-ikdisplay-backchannel-text-wrap {
        display: table;
    }

        p.list-ikdisplay-backchannel-text {
            margin: 0px;
        }

            span.list-ikdisplay-backchannel-title {
                display: inline;
                font-size: 30px;
                line-height: 36px;
                color: #666;
            }
            
            span.list-ikdisplay-backchannel-status {
                font-size: 30px;
                line-height: 36px;
                margin: 0;
                display: inline;
                font-style: italic;
                padding-left: 6px;
            }
            
            span.list-ikdisplay-backchannel-meta {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #666;
                display: block;
            }
        
.clone-item {
    display: none !important;
    height: 120px !important;
}
